# Diretórios e arquivos de compilação
/build/
*.o
*.obj
*.exe
*.out
*.a
*.lib

# Arquivos temporários do IDE
.vscode/
.idea/
*.vscode/

# Arquivos do CMake
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
install/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de logs
*.log

# Arquivos de configurações locais
*.user
*.swp
